* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(225, 225, 225);
}

.common-input {
    background-color: #e7e5e5;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    color: grey;
    overflow: hidden;

    &:focus {
        border-bottom: 1px solid rgb(1, 176, 195)
    }

    &:invalid {
        border-bottom: 1px solid rgb(195, 1, 1);

    }

    &:valid {
        border-bottom: 1px solid rgb(2, 154, 14);

    }
}

.common-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.common-button {
    padding: 15px;
    font-size: 15px;
}

